* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #000;
}

body {
    font-family: 'Young Serif', serif;
    font-weight: 600;
    font-size: 15px;
    font-style: italic;
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
   
}

a{
    text-decoration: none;
    padding: 5px;
    transform: scale(2.5, 2);  
}

.tree{
    display: grid;
    place-items: center;
}

#a-one {
    color: #aa0f0f;
    transition-property: color;
    transition-duration: 4s;
}

#a-two {
    color: #aa0f0f;
    transition-property: color;
    transition-duration: 6s;
}

#a-two:hover {
    
}

#a-three {
    color: #aa0f0f;
    transition-property: color;
    transition-duration: 8s;
}

#a-four {
    color: #aa0f0f;
    transition-property: color;
    transition-duration: 10s;
}

#a-five {
    color: #aa0f0f;
    transition-property: color;
    transition-duration: 12s;
}

#a-six {
    color: #aa0f0f;
    transition-property: color;
    transition-duration: 14s;
}

#a-seven {
    color: #aa0f0f;
    transition-property: color;
    transition-duration: 16s;
}

#a-eight {
    color: #aa0f0f;
    transition-property: color;
    transition-duration: 18s;
}

#a-nine {
    color: #aa0f0f;
    transition-property: color;
    transition-duration: 20s;
}

#a-ten {
    color: #aa0f0f;
    transition-property: color;
    transition-duration: 22s;
}

#a-eleven {
    color: #aa0f0f;
    transition-property: color;
    transition-duration: 24s;
}

#a-twelve {
    color: #aa0f0f;
    transition-property: color;
    transition-duration: 26s;
}

#a-thirteen {
    color: #aa0f0f;
    transition-property: color;
    transition-duration: 28s;
}

#a-fourteen {
    color: #aa0f0f;
    transition-property: color;
    transition-duration: 30s;
}

#a-fifteen {
    color: #aa0f0f;
    transition-property: color;
    transition-duration: 32s;
}

#a-sixteen {
    color: #aa0f0f;
    transition-property: color;
    transition-duration: 34s;
}

#a-seventeen {
    color: #aa0f0f;
    transition-property: color;
    transition-duration: 38s;
}

#a-eighteen {
    color: #aa0f0f;
    transition-property: color;
    transition-duration: 40s;
}

#a-nineteen {
    color: #aa0f0f;
    transition-property: color;
    transition-duration: 42s;
}

#a-twenty {
    color: #aa0f0f;
    transition-property: color;
    transition-duration: 44s;
}

#a-twentyone {
    color: #aa0f0f;
    transition-property: color;
    transition-duration: 46s;
}

#a-twentytwo {
    color: #aa0f0f;
    transition-property: color;
    transition-duration: 48s;
}

#a-twentythree {
    color: #aa0f0f;
    transition-property: color;
    transition-duration: 50s;
}