* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #000;
}

body {
    font-family: 'Young Serif', serif;
    font-weight: 600;
    font-size: 15px;
    font-style: italic;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: grid;
    place-items: center;
    animation: transitionIn 3s;

}

a{
    text-decoration: none;
    padding: 5px;
    transform: scale(2.5, 2);  
}

.tree{
    display: grid;
    place-items: center;
}

.text {
    color: #fff;
    cursor: pointer;
    animation-name: hover;
    animation-duration: 1s;
    animation-fill-mode: backwards;
    animation-play-state: paused;      
}

.textPlain {
    color: #fff;
}

.text:active, .text:focus, .text:hover {
    animation-fill-mode: forwards;
    animation-play-state: running;
}

#a-thirteen, #a-fourteen, #a-fifteen, #a-sixteen, #a-seventeen, #a-eighteen, #a-nineteen, #a-twenty, #a-twentyone, #a-twentytwo, #a-twentythree {
    color: #fff;
    opacity: .25;
}

@keyframes hover {
    from {
    opacity: .05;
    }
    to {
    opacity: 1;
    }
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: translateY(15px);
    }

    to {
        opacity: 1;
    }
}